/*  your css code here. If applicable */
td,th{
	border:1px solid #ccc;
	border-radius:5px;
	padding:0.5rem;
}

tr:nth-child(2n+1){
	background-color:#f2f2f2;
}

tr:nth-child(2n){
	background-color:#ffffff;
}